#livepatch-autotest-global.config
#	LIVEPATCH_AUTOTEST_GIT="git@code-sh.rnd.huawei.com:livepatch/livepatch-autotest.git"
#	LIVEPATCH_AUTOTEST_BRANCH="master"
#
#	LIVEPATCH_TESTCASE_GIT="git@code-sh.rnd.huawei.com:livepatch/livepatch-autotest-testcases.git"
#	LIVEPATCH_TESTCASE_BRANCH="simple"
#
#	LIVEPATCH_KPATCHBUILD_GIT="git@code-sh.rnd.huawei.com:livepatch/kpatch-build-cbg.git"
#	LIVEPATCH_KPATCHBUILD_BRANCH="auto"
#
#=====================

LIVEPATCH_AUTOTEST_GIT="git@code-sh.rnd.huawei.com:livepatch/livepatch-autotest.git"
LIVEPATCH_AUTOTEST_BRANCH="master"

LIVEPATCH_TESTCASE_GIT="git@code-sh.rnd.huawei.com:livepatch/livepatch-autotest-testcases.git"
LIVEPATCH_TESTCASE_BRANCH="simple"

LIVEPATCH_KPATCHBUILD_GIT="git@code-sh.rnd.huawei.com:livepatch/kpatch-build-cbg.git"
LIVEPATCH_KPATCHBUILD_BRANCH="auto"
